{% extends "magasin/base.html" %}
{% block content %}
<h2>Se connecter </h2>
<div>
<form  method='POST' class="post-form" style="margin-left: 40px;">
{% csrf_token %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="alert alert-danger">{{ error }}</p>
{% endfor %}
{% endif %}
<table>
{% for field in form %}
<tr>
<td>{{ field.label_tag }}</td>
<td>{{ field }}</td>
</tr>
{% endfor %}
</table>
<button type="submit" class="btn btn-dark">se connecter</button>
</form>
</div>
<div>
<small>
Pas encore inscrit.e?
<a href="{% url 'register' %}">
S'inscrire
</a>
<br>
Mot de passe oublié ?
<a href="#">
    <a href="{% url 'changer_mdp' %}" class="btn btn-link">Renouveler mon mot de passe</a>

</a>
</small>
</div>
{% endblock %}